@font-face {
  font-family: 'pragmatapro-regular';
  src: url(https://mietek.io/_protected/fonts/pragmatapro-regular.woff);
  font-weight: normal;
  font-style: normal;
}

pre, code {
  font-family: "PragmataPro", 'pragmatapro-regular', monospace;
  font-size: 13px;
}

/* Aspects. */
.Comment       { color: #8d8d84 }
.Keyword       { color: #cb661a }
.String        { color: #b02428 }
.Number        { color: #922890 }
.Symbol        { color: #404040 }
.PrimitiveType { color: #0b30ca }
.Operator      {}

/* NameKinds. */
.Bound                  { color: black   }
.InductiveConstructor   { color: #118a14 }
.CoinductiveConstructor { color: #8a7416 }
.Datatype               { color: #0b30ca }
.Field                  { color: #eb3289 }
.Function               { color: #0b30ca }
.Module                 { color: #922890 }
.Postulate              { color: #0b30ca }
.Primitive              { color: #0b30ca }
.Record                 { color: #0b30ca }

/* OtherAspects. */
.DottedPattern      {}
.UnsolvedMeta       { color: black; background: #fff67f        }
.UnsolvedConstraint { color: black; background: #fff67f        }
.TerminationProblem { color: black; background: #fda07e        }
.IncompletePattern  { color: black; background: #F5DEB3        }
.Error              { color: red;   text-decoration: underline }
.TypeChecks         { color: black; background: #ADD8E6        }

/* Standard attributes. */
a { text-decoration: none }
a[href]:hover { background-color: #fff67f }
